.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    justify-self: start;
    margin: 0px 67px 20px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-gap: 5px;
    list-style: none;
    text-align: center;
    width: 900px;
    justify-content: start;
    margin-right: 2rem;
}

.nav-menu-right {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 300px;
    height: 80px;
    margin-right: 2rem;
    justify-content: end;
    padding-top: 18px;
}


.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-item-icon {
    cursor: pointer;
    padding-right: 5px;
}

.nav-links {
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }

  .nav-links:hover {
    color: white;
    background-color: black;
    border-radius: 15px;
  }
