

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    width: 100%;
}

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    width: 40px;
    height: 5px;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
    bottom: 50px;
}

.right-arrow {
    position: absolute;
    font-size: 14px;
    top: 50%;
    right: 32px;
    color: #000;
    z-index: 1;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 32px;
    color: #000;
    z-index: 1;
    cursor: pointer;
    user-select: none;
}


